.milestone {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	min-height: 120px;
	width: 100%;
	padding-bottom: 64px;

	@media only screen and (max-width: 800px) {
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}

	.left {
		flex: 0 0 62px;
		margin-right: 16px;

		@media only screen and (max-width: 800px) {
			margin-right: 0;
			margin-bottom: 8px;
		}

		.icon {
			height: 62px;
			width: 62px;
			border: 4px solid #fff;
			border-radius: 46px;
			background-color: #eee;
			background-position: center;
			background-size: cover;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		}
	}
	.right {
		flex: 1 1 auto;
		justify-content: flex-start;
		align-items: flex-start;

		@media only screen and (max-width: 800px) {
			width: 100%;
		}

		.title {
			padding-top: 4px;
			.pre {
				font-size: 0.8em;
				color: #757575;
			}

			.name {
				font-size: 1.2em;
				font-weight: 600;
			}
			.sub {
				font-weight: 600;
				color: #757575;
			}
		}
		.topics {
			padding-top: 16px;

			.list {
				.key_point {
					display: inline-block;
					margin: 8px;
					justify-content: flex-start;
					align-items: center;
					border-radius: 20px;

					.container {
						display: flex;
						padding-right: 12px;
						justify-content: flex-start;
						align-items: center;

						.icon {
							flex: 0 0 1.4em;
							display: inline-block;
							height: 1.4em;
							width: 1.4em;
							margin-right: 0.4em;
							background-color: #333;
							border-radius: 20px;
							background-position: center;
							background-size: cover;
							background-color: #fff;
							box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
						}
						.value {
							flex: 1 1;
							text-align: left;
							font-size: 0.7em;
							font-weight: 600;
							color: #616161;
						}
					}
				}
			}
		}
	}
}
